.navbar .dropdown .dropdown-toggle {
    padding-bottom: 0;

    img {
        padding-right: 5px;
        border-radius: 3px;
    }
}

.pagination > .current > a {
    background-color: $brand-danger !important;
    color: $navbar-default-link-color !important;
}

.post-header {
    min-height: 240px;
}

.post-author {
    width: 60px;
    border-radius: 5px;
}
