body {
    padding-top: 70px;
    background-color: lighten($base-color, 53%);
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 12px;
    margin-bottom: 6px;
}

.navbar {

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .dropdown .dropdown-toggle {

        padding-bottom: 0;
        img {
            padding-right: 5px;
            border-radius: 3px;
        }
    }
}

.pagination > .current > a {
    background-color: $brand-danger !important;
    color: $navbar-default-link-color !important;
}

.post-header {
    min-height: 240px;
}

.post-author {
    width: 60px;
    border-radius: 5px;
}
